// Importeer variabelen
@import "variabelen.scss";
@import "header.scss";
@import "footer.scss";

// Basisstijlen
body {
  margin: 0;
  font-family: $protest-riot;
  color: $text-color;
  background-color: $primary-color;

  .mini-nav {
    height: 25px;
    width: 100%;

    p {
      margin: 10px;
      padding: 0;
    }
  }

  // Media queries voor responsiviteit van de navigatiebalk
  @media only screen and (max-width: 767px) {
    header nav {
      height: auto;
      padding: 10px 0;
      flex-direction: column;
      align-items: center;

      .logo {
        margin-bottom: 10px;
      }

      ul {
        flex-direction: column;
        align-items: center;

        li {
          width: 100%;
          text-align: center;
        }
      }
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    header nav {
      padding: 15px 0;
    }
  }

  @media only screen and (min-width: 1024px) {
    header nav {
      padding: 20px 0;

      ul {
        justify-content: flex-end;
      }
    }
  }
}

// Grid
main {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 10px auto; // Centreer het raster horizontaal binnen zijn container
    padding: 20px; // Voeg vulling toe om de rasteritems binnen de rand te centreren
    border: 2px solid black; // Voeg een solide rand toe rond het raster
    border-radius: 30px;
    background: $senary-color;
    overflow: hidden; // Voorkom dat afbeeldingen buiten de rand gaan

    @for $i from 1 through length($border-colors) {
      @if $website-style == "dark" {
        background-color: $dark-mode;
      } @else if $website-style == "light" {
        background-color: $light-mode;
      } @else {
        background-color: $primary-color; // Standaardstijl
      }
      .grid-item:nth-child(#{$i}) {
        border: 10px solid nth($border-colors, $i);
        animation: animateBorder $animation-duration infinite alternate; // Animatie toepassen op rand

        display: flex; // Maak van rasteritems flexcontainers
        justify-content: center; // Centreer inhoud horizontaal
        align-items: center; // Centreer inhoud verticaal
      }
    }

    // Media queries voor responsiviteit van het raster
    @media only screen and (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@keyframes animateBorder {
  0% {
    border-color: #ff7b00; // Startkleur
  }
  25% {
    border-color: #ffa200; // Kleur na 25% van de animatie
  }
  50% {
    border-color: #ffd000; // Kleur na 50% van de animatie
  }
  75% {
    border-color: #ffea00; // Kleur na 75% van de animatie
  }
  100% {
    border-color: #ff7b00; // Terug naar startkleur
  }
}

// Stijl voor het centreren van h2
h2 {
  text-align: center;
}
